APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=L4rs0n

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/l4rs0n

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=change-me-before-production-change-me

SMTP_FROM=noreply@example.com
CLUB_NAME=L4rs0n
